<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <property name="deploymentEnvironment" value="${DEPLOYMENT_ENVIRONMENT:-unknown}"/>
  <property name="serviceVersion" value="${SERVICE_VERSION:-unknown}"/>

  <springProfile name="!local">
    <appender name="JSON_STDOUT" class="ch.qos.logback.core.ConsoleAppender">
      <encoder class="net.logstash.logback.encoder.LogstashEncoder">
        <includeMdcKeyName>trace_id</includeMdcKeyName>
        <includeMdcKeyName>span_id</includeMdcKeyName>
        <includeMdcKeyName>trace_flags</includeMdcKeyName>
        <customFields>{"service":"knowledge-api","service.name":"knowledge-api","service.version":"${serviceVersion}","deployment.environment":"${deploymentEnvironment}"}</customFields>
      </encoder>
    </appender>
    <root level="INFO">
      <appender-ref ref="JSON_STDOUT"/>
    </root>
  </springProfile>

  <springProfile name="local">
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
      <encoder>
        <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
      </encoder>
    </appender>
    <root level="DEBUG">
      <appender-ref ref="STDOUT"/>
    </root>
    <logger name="org.springframework" level="INFO"/>
    <logger name="org.jooq" level="DEBUG"/>
  </springProfile>
</configuration>
